
    .wrap{
        overflow:hidden;
        border-radius:10px 10px 0px 0px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.35);
    }

    table{
        font-family: 'Oswald', sans-serif;
        border-collapse:collapse;
    }

    th{
        background-color:#555555; /* Darker gray for header background */
        color:#ffffff;
        width:25vw;
        height:75px;
    }

    td{
        background-color:#dddddd; /* Lighter gray for cell background */
        width:25vw;
        height:50px;
        text-align:center;
    }

    tr{
        border-bottom: 1px solid #aaaaaa; /* Gray for row borders */
    }

    tr:last-of-type{
        border-bottom: 2px solid #555555; /* Darker gray for last row border */
    }

    tr:nth-of-type(even) td{
        background-color:#cccccc; /* Medium gray for even rows */
    }
    